{% extends 'base.html' %}
{%block content%}
{%load static%}
{%load custom_filters%}

<div class="marco">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10"> 
            <h3>{{ post.titulo }}</h3> 
            <div class="card text-light" style="margin-top:5rem; padding: 2rem;">
                
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{post.autor.usuario.avatar.url}}" class="img-jugador" alt="">
                    </div>
                    <div class="col-md-6">
                        <h3 class="card-text" style="text-align: left;">{{ post.autor.usuario.alias}}</h3>
                        <p class="card-text" style="text-align: left;">{{ post.fecha_creacion}}</p>    
                    </div>
                </div>

                {%if request.GET.from == "editar_post"%}
                    <form action="{% url 'editar_post' 'Post' post.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                        <label for="text" class="form-label">Editar</label>
                        <input
                            type="text"
                            class="form-control"
                            name="contenido"
                            id="contenido"
                            placeholder="contenido"
                            value="{{ post.contenido }}"
                            required
                        />
                        </div>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                
                            <div class="actionBar">
                                <a href="{% url 'reaccionar' 'Post' post.id %}?from=like_post" data-id="{{post.id}}" data-modelo="Post" class="reaccion">
                                {%if liked_post%}
                                    <i class="fa-solid fa-thumbs-up like"></i>
                                {%else%}
                                    <i class="fa-regular fa-thumbs-up like"></i>
                                {%if post.total_likes > 1%}
                                <span class="reaction-text">
                                    {{post.total_likes}} Likes
                                {%elif post.total_likes == 0 %}
                                <span class="reaction-text"> Like
                                </span>
                                {%else%}
                                <span class="reaction-text">
                                    {{post.total_likes}} Like
                                </span>
                                    {%endif%}
                                </a>
                            </div>

                            {%endif%}
        
                            </div>
                        </div>
                        {%if post.autor == request.user%}
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <input type="submit" value="Editar" class="btn btn-primary mt-3">
                            
                            </div>
                            <div class="col-md-2">
                                <a href="{% url 'eliminar_post' post.id %}" class="btn btn-danger mt-3" onclick="eliminar_post(event, '{{ post.id }}')"><i class="bi bi-trash-fill"></i>Eliminar</a>
                            </div>
                        </div>
                    </form>
                {%endif%}
                {%else%}
                    <p class="card-text mt-3"  style="text-align: left">{{ post.contenido}}</p>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">

                            <div class="actionBar">
                                <a href="{% url 'reaccionar' 'Post' post.id %}?from=like_post" data-id="{{post.id}}" data-modelo="Post" class="reaccion">
                                {%if liked_post%}
                                    <i class="fa-solid fa-thumbs-up like"></i>
                                {%else%}
                                    <i class="fa-regular fa-thumbs-up like"></i>
                                {%if post.total_likes > 1%}
                                <span class="reaction-text">
                                    {{post.total_likes}}
                                </span> Likes
                                {%elif post.total_likes == 0 %}
                                <span class="reaction-text">
                                    {{post.total_likes}}
                                </span>  Likes
                                {%else%}
                                <span class="reaction-text">
                                    {{post.total_likes}}
                                </span>  Like
                                    {%endif%}
                                </a>
                            </div>
                        {%endif%}

                        </div>
                    </div>
                {%if post.autor == request.user%}
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <a href="{% url 'editar_post' 'Post' post.id %}?from=editar_post" class="btn btn-primary mt-3">Editar</a>
                        </div>
                        <div class="col-md-2">
                            <a href="{% url 'eliminar_post' post.id %}" class="btn btn-danger mt-3" onclick="eliminar_post(event, '{{ post.id }}')"><i class="bi bi-trash-fill"></i>Eliminar</a>
                        </div>
                    </div>
                {%endif%}
                {%endif%}

                {%if post.comentarios%}
                {%for com in comentarios%} 
                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-light" style="margin-top:3rem; padding: 2rem;">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="{{com.autor.usuario.avatar.url}}" class="img-jugador" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h3 class="card-text" style="text-align: left;">{{ com.autor.usuario.alias}}</h3>
                                    <p class="card-text" style="text-align: left;">{{ com.fecha_creacion}}</p>    
                                </div>
                            </div>
                            {% if request.GET.editar_comment == com.id|stringformat:"s" %}
                            <form action="{% url 'editar_comentario' 'Comentario' com.id %}" id="edit" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                <label for="text" class="form-label">Editar</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="mensaje"
                                    id="mensaje"
                                    placeholder="mensaje"
                                    value="{{ com.mensaje }}"
                                    required
                                />
                                </div>
                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4">
                                        <div class="actionBar">
                                            <a href="{% url 'reaccionar' 'Comentario' com.id %}" class="reaccion" data-id="{{ com.id }}" data-modelo = 'Comentario'>
                                            {%if liked_coments|get_item:com.id%}
                                                <i class="fa-solid fa-thumbs-up like"></i>
                                            {% else %}
                                                <i class="fa-regular fa-thumbs-up like"></i>
                                            {%endif%}
                                                {%if com.total_likes > 1%}
                                                <span class="reaction-text">
                                                    {{com.total_likes}} 
                                                </span> Likes
                                                {%elif com.total_likes == 0 %}
                                                <span class="reaction-text">
                                                    {{com.total_likes}}
                                                </span> Likes
                                                {%else%}
                                                <span class="reaction-text">
                                                    {{com.total_likes}} 
                                                </span> Like
                                                    {%endif%}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {%if com.autor == request.user%}
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <input type="submit" value="Editar" class="btn btn-primary mt-3">
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{% url 'detalle_post' 'Comentario' com.id %}" class="btn btn-danger mt-3" >Cancelar</a>
                                    </div>
                                    <!-- <div class="col-md-2">
                                        <a href="{% url 'eliminar_comentario' com.id %}" class="btn btn-danger mt-3" onclick="eliminar_comment(event, '{{ com.id }}')"><i class="bi bi-trash-fill"></i>Eliminar</a>
                                    </div> -->
                                </div>
                                </form>
                                {%endif%}
                            {%else%}
                                <p class="card-text mt-3"  style="text-align: left">{{ com.mensaje }}</p>
                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4">
                                        <div class="actionBar">
                                        <a href="{% url 'reaccionar' 'Comentario' com.id %}" class="reaccion" data-id="{{ com.id }}" data-modelo="Comentario">
                                        {%if liked_coments|get_item:com.id%}
                                            <i class="fa-solid fa-thumbs-up like"></i>
                                        {% else %}
                                            <i class="fa-regular fa-thumbs-up like"></i>
                                        {%endif%}
                                        {%if com.total_likes >= 0 %}
                                        <span class="reaction-text">
                                            {{com.total_likes}} 
                                        </span> Likes

                                        {%else%}
                                        <span class="reaction-text">
                                            {{com.total_likes}}
                                        </span> Like
                                            {%endif%}
                                        </a>
                                    </div>
                                </div>
                                {%if com.autor == request.user%}
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <a href="?editar_comment={{ com.id }}#edit" class="btn btn-primary mt-3">Editar</a>
                                    </div>

                                    <div class="col-md-2">
                                        <a href="{% url 'eliminar_comentario' com.id %}" class="btn btn-danger mt-3" onclick="eliminar_comment(event, '{{ com.id }}')"><i class="bi bi-trash-fill"></i>Eliminar</a>
                                    </div>
                                </div>
                                {%endif%}
                            </div>
                        </div>

                {%endif%}
                </div>
                {%endfor%}
                {%endif%}
            </div>
        </div>
    </div>

    {% if request.GET.from == "post"%}
    <section id="formulario">
        <div class="row">
            <div class="col-md-8 offset-md-3">
                <h3 class="text-center pt-5">Responder</h3>
                <form action="{% url 'detalle_post' 'Post' post.id %}?from=post" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {%for field in form%}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {%endfor%}
                    <input type="submit" value="Enviar" class="btn btn-outline-success">
                </form>
            </div>
        </div>
    </section>

    {%endif%}
</div>


<div class="row">
    
    {%if user.is_authenticated%}
    <div class="col-md-10"></div>
        <div class="col-md-2">
            <a href="{% url 'detalle_post' 'Post' post.id %}?from=post#formulario" class="responder btn btn-primary mt-3">Responder</a>
        </div>
    {%else%}
    <div class="col-8"></div>
        <div class="col-md-4">
                <a href="#" class="btn btn-primary mt-3">Debes estar autenticado para responder</a>
        </div>
    </div>
    {%endif%}
</div>


{%endblock%}

{%block js%}
<script>
    function eliminar_post(event, id) {
        event.preventDefault()
        const url = '/foro/' + id +'/eliminar_post'

        debugger
        const confirmacion = confirm('¿Está seguro que desea eliminar este post?')
        if (confirmacion == true) {
            window.location.href = url
        }
    }
</script>

<script>
    function eliminar_comment(event, id) {
        event.preventDefault()
        const url = '/foro/' + id +'/eliminar_comentario'

        debugger
        const confirmacion = confirm('¿Está seguro que desea eliminar este comentario?')
        if (confirmacion == true) {
            window.location.href = url
        }
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        document.querySelectorAll('.reaccion').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();

                let comentarioId = this.dataset.id;
                let modelo= this.dataset.modelo;
                let likeIcon = this.querySelector('i'); //ícono del botón)
                let likeCount = this.querySelector('.reaction-text');

                fetch(`/foro/${modelo}/${comentarioId}/like`, {
                    method: 'POST',
                    headers: {
                    "X-CSRFToken": getCSRFToken(), // Necesario para Django
                    "X-Requested-With": "XMLHttpRequest"
                    }
                })
                .then(response => response.json())
                .then(data => {
                    // Actualizar el número de likes
                    likeCount.textContent = data.total_likes;

                    //Cambiar la clase del ícono
                    if (data.liked) {
                        likeIcon.classList.remove('fa-regular');
                        likeIcon.classList.add('fa-solid');
                    }else {
                        likeIcon.classList.remove('fa-solid');
                        likeIcon.classList.add('fa-regular');
                    }
                })
                .catch(error =>console.error('Error:', error));
            });
        });

        function getCSRFToken() {
            return document.querySelector("[name=csrfmiddlewaretoken]").value;
        }
    });



</script>

{%endblock%}