{% extends 'base.html' %}
{%block content%}
{%load static%}


<div class="container">
    <div class="marco">
        <div class="row">
{% if request.GET.from == "registro_admin"%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Historial partidas recientes</h3>
    <table class="table table-dark table-bordered border-primary mt-5">
        <thead>
            <tr>
                <th scope="col">Juego</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Local</th>
                <th scope="col">Resultados</th>
            </tr>
        </thead>
        <tbody>
            {%for partant in partidas_anteriores_todas %}
            <tr class="table-active">
                <td>{{ partant.juego.nombre}}</td>
                <td>{{ partant.fecha }}</td>
                <td>{{ partant.hora}}</td>
                <td>{{ partant.local.nombre}}</td>
                <td><a href="{%url 'editar_resultados' partant.id %}">Editar resultados</a></td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
{%elif request.GET.from == "navbar"%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Historial partidas recientes</h3>
    <table class="table table-dark table-bordered border-primary mt-5">
        <thead>
            <tr>
                <th scope="col">Juego</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Local</th>
                <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
            {%for partant in partidas_anteriores_todas %}
            <tr class="table-active">
                <td>{{ partant.juego.nombre}}</td>
                <td>{{ partant.fecha }}</td>
                <td>{{ partant.hora}}</td>
                <td>{{ partant.local.nombre}}</td>
                <td><a href="{%url 'detalles_historial' partant.id %}">Ver detalles</a></td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
{%else%}

        <div class="col-md-4">
            <h1>{{ user.first_name}} {{user.last_name}}</h1>
            <h3>{{user.usuario.alias}}</h3>
            <img class="img-historial" src="{{user.usuario.avatar.url}}" alt="avatar">
        </div>
        <div class="col-md-8">
            {%if partidas%}
            <h3>Tus próximas partidas</h3>
            <table class="table table-dark table-bordered border-primary mt-5 mb-5">
                <thead>
                    <tr>
                        <th scope="col">Juego</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Local</th>
                        <th scope="col">Ver partida</th>
                    </tr>
                </thead>
                <tbody>
                    {%for partis in partidas %}
                    <tr class="table-active">
                        <td>{{ partis.juego.nombre}}</td>
                        <td>{{ partis.fecha }}</td>
                        <td>{{ partis.hora}}</td>
                        <td>{{ partis.local.nombre}}</td>
                        <td><a href="{%url 'detalles_partida' partis.id %}">Ver detalle</a></td>   
                    </tr>
                </tbody>
            </table>
            {%endfor%}
        {%else%}
        <h4 class="mb-5">No tienes partidas programadas. Revisa la programación <a href="{%url 'ver_partidas_reservadas' %}">aquí</a></h4>
    {%endif%}

                <h3>Historial partidas anteriores</h3>

                <table class="table table-dark table-bordered border-primary mt-5">
                    <thead>
                        <tr>
                            <th scope="col">Juego</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Local</th>
                            <th scope="col">Ver partida</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for partant in partidas_anteriores %}
                            <tr class="table-active">
                                <td>{{ partant.juego.nombre}}</td>
                                <td>{{ partant.fecha }}</td>
                                <td>{{ partant.hora}}</td>
                                <td>{{ partant.local.nombre}}</td>
                                <td><a href="{%url 'detalles_historial' partant.id %}">Ver detalle</a></td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

{%endif%}
{%endblock%}