{%extends 'base.html' %}
{%block content%}
{%load static%}
<main class="cont">
<section id="inicio" class="bg-black full-width-carousel">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div id="carouselExample" class="carousel slide carousel-fade">

        <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="{% static 'img/d&d.jpg' %}" class="d-block w-100" alt="d&d">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'img/magic.webp' %}" class="d-block w-100" alt="carou2">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'img/warhammer_40000.webp' %}" class="d-block w-100" alt="carou3">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'img/m&l.webp' %}" class="d-block w-100" alt="carou3">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>
</main>
    
</section>

<div class="marco mt-5 mb-5">
    <div class="row mt-5">    
        <div class="col text-center bloque">
            <h2>LUN</h2>
            <p>{{ week_day.0 }}</p>
        </div>
    
        <div class="col text-center bloque">
            <h2>MAR</h2>
            <p>{{ week_day.1 }}</p>
        </div>
    
        <div class="col text-center bloque">
            <h2>MIE</h2>
            <p>{{ week_day.2 }}</p>
        </div>
    
        <div class="col text-center bloque">
            <h2>JUE</h2>
            <p>{{ week_day.3 }}</p>
        </div>
    
        <div class="col text-center bloque">
            <h2>VIE</h2>
            <p>{{ week_day.4 }}</p>
        </div>
    
        <div class="col text-center bloque">
            <h2>SAB</h2>
            <p>{{ week_day.5 }}</p>
        </div>

        <div class="col text-center bloque">
            <h2>DOM</h2>
            <p>{{ week_day.6 }}</p>           
        </div>
    </div>


    <div class="row mb-5">
            <div class="col bloque text-center">
                {%for partida in partida_lunes%}
                <div class="partida-container">
                    <figure>  
                        <a href="#" class="image"><img src="{{ partida.juego.logo.url }}" alt="Logo del Juego" data-position="top center" /></a>                
                        <div class="capa mt-4">
                            <a href="{%url 'inscribir' partida.id %}">
                                <p class="text-light">{{partida.juego.nombre}}</p>
                                <p class="text-light">{{partida.hora}}</p>
                                <p class="text-light">{{partida.local}}</p>
                            </a>
                        </div>
                        
                    </figure>
                </div>
                {%endfor%}
            </div>


    
            <div class="col bloque text-center">
                {%for partida in partida_martes%}
                <div class="partida-container">
                    <figure>  
                        <a href="#" class="image"><img src="{{ partida.juego.logo.url }}" alt="Logo del Juego" data-position="top center" /></a>                
                        <div class="capa mt-4">
                            <a href="{%url 'inscribir' partida.id %}">
                                <p class="text-light">{{partida.juego.nombre}}</p>
                                <p class="text-light">{{partida.hora}}</p>
                                <p class="text-light">{{partida.local}}</p>
                            </a>
                        </div>
                        
                    </figure>
                </div>
                {%endfor%}
            </div>
    
            <div class="col bloque text-center">
                {%for partida in partida_miercoles%}
                <div class="partida-container">
                    <figure>  
                        <a href="#" class="image"><img src="{{ partida.juego.logo.url }}" alt="Logo del Juego" data-position="top center" /></a>                
                        <div class="capa mt-4">
                            <a href="{%url 'inscribir' partida.id %}">
                                <p class="text-light">{{partida.juego.nombre}}</p>
                                <p class="text-light">{{partida.hora}}</p>
                                <p class="text-light">{{partida.local}}</p>
                            </a>
                        </div>
                        
                    </figure>
                </div>
                {%endfor%}
            </div>
    
            <div class="col bloque text-center">
                {%for partida in partida_jueves%}
                <div class="partida-container">
                    <figure>  
                        <a href="#" class="image"><img src="{{ partida.juego.logo.url }}" alt="Logo del Juego" data-position="top center" /></a>                
                        <div class="capa mt-4">
                            <a href="{%url 'inscribir' partida.id %}">
                                <p class="text-light">{{partida.juego.nombre}}</p>
                                <p class="text-light">{{partida.hora}}</p>
                                <p class="text-light">{{partida.local}}</p>
                            </a>
                        </div>
                        
                    </figure>
                </div>
                {%endfor%}
            </div>
    
            <div class="col bloque text-center">
                {%for partida in partida_viernes%}
                <div class="partida-container">
                    <figure>  
                        <a href="#" class="image"><img src="{{ partida.juego.logo.url }}" alt="Logo del Juego" data-position="top center" /></a>                
                        <div class="capa mt-4">
                            <a href="{%url 'inscribir' partida.id %}">
                                <p class="text-light">{{partida.juego.nombre}}</p>
                                <p class="text-light">{{partida.hora}}</p>
                                <p class="text-light">{{partida.local}}</p>
                            </a>
                        </div>
                        
                    </figure>
                </div>
                {%endfor%}
            </div>
    
            <div class="col bloque text-center">
                {%for partida in partida_sabado%}
                <div class="partida-container">
                    <figure>  
                        <a href="#" class="image"><img src="{{ partida.juego.logo.url }}" alt="Logo del Juego" data-position="top center" /></a>                
                        <div class="capa mt-4">
                            <a href="{%url 'inscribir' partida.id %}">
                                <p class="text-light">{{partida.juego.nombre}}</p>
                                <p class="text-light">{{partida.hora}}</p>
                                <p class="text-light">{{partida.local}}</p>
                            </a>
                        </div>
                        
                    </figure>
                </div>
                {%endfor%}
            </div>

            <div class="col bloque text-center">
                {%for partida in partida_domingo%}
                <div class="partida-container">
                    <figure>  
                        <a href="#" class="image"><img src="{{ partida.juego.logo.url }}" alt="Logo del Juego" data-position="top center" /></a>                
                        <div class="capa mt-4">
                            <a href="{%url 'inscribir' partida.id %}">
                                <p class="text-light">{{partida.juego.nombre}}</p>
                                <p class="text-light">{{partida.hora}}</p>
                                <p class="text-light">{{partida.local}}</p>
                            </a>
                        </div>
                        
                    </figure>
                </div>
                {%endfor%}
            </div>
    </div>
</div>





{%endblock%}