{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="marco">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="card" style="width: 30rem; margin-top: 30rem; margin-top:5rem">
            <div class="card-body">
                <h3 class="card-title">{{ partida.juego.nombre}}</h3>
                <p class="card-text">{{ partida.juego.descripcion}}</p>
                <p class="card-text">{{ partida.fecha}}</p>
                <p class="card-text">{{ partida.hora }}</p>
                <p class="card-text">{{ partida.local}}</p>
    
                <table class="table table-dark table-bordered border-primary mt-5">
                    <thead>
                        <tr>
                            <th scope="col">Jugadores Inscritos</th>
                        </tr>
                    </thead>
    
                    {%for jugador in partida_jugador %}
                    <tbody>
                        <tr class="table-active">
                            <td>{{ jugador.jugador.usuario.alias }}<img style="width:4rem; height:4rem; margin-left: 8em;" src="{{ jugador.jugador.usuario.avatar.url }}" alt=""></td>
                            
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
                <form action="#" method="post">
                    {%csrf_token%}
                    <input type="submit" value="Inscribirse en la partida" class="btn btn-outline-success mt-3">
                </form>
            </div>

    </div>
    <div class="col-md-5 mt-4">

        <h3 class="mt-5">{{partida.local.nombre}}</h1>

        <div id="map" style="width: 450px; height: 400px ; margin-top: 2rem;"></div>
        <div>
            <button class="btn btn-outline-success mt-4 mb-3" id="getLocation">Obtener mi ubicación</button>
            <br>
            <a id="locationResult" target="_blank"></a>
        </div>
    </div>

</div>
</div>

{%endblock%}

{%block js%}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script>
    let map= L.map('map').setView([{{partida.local.latitud}},  {{partida.local.longitud}}], 15 )
    
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);


        L.marker([{{partida.local.latitud}}, {{partida.local.longitud}}]).addTo(map).bindPopup('{{partida.local.nombre}}').openPopup()

       
    // Conocer la geolocalizacipon del usuario
    const locationResult = document .querySelector('#locationResult')
    document.querySelector('#getLocation').addEventListener('click', geolocalizacion)


    function success(position) {
        let userLat = position.coords.latitude;
        let userLng = position.coords.longitude;
        locationResult.textContent = 'Vea su ubicación en el mapa'
        L.marker([userLat, userLng],{
                icon: L.icon({
                    iconUrl: 'https://cdn-icons-png.flaticon.com/512/684/684908.png',
                    iconSize: [30, 30]
                })
            }).addTo(map).bindPopup('📍 Estás aquí').openPopup(); 
        map.setView([userLat, userLng], 15);
        obtener_distancia(position)

    }

function error() {
    status.textContent = 'No es posible acceder a tu localización';
}

    function geolocalizacion () {
        if (!navigator.geolocation) {
            status.textContent = 'Geolocalizador no es soportado por tu navegador';
        } else {
            navigator.geolocation.getCurrentPosition(success, error);
        }
        
    }

    function obtener_distancia(position) {
        
        let userLat = position.coords.latitude
        let userLng = position.coords.longitude
        let destLat = {{partida.local.latitud}}
        let destLng = {{partida.local.longitud}}

        let url =  `https://router.project-osrm.org/route/v1/driving/${userLng},${userLat};${destLng},${destLat}?overview=full&geometries=geojson`
        fetch(url)
        .then(response => response.json())
        .then(data => {
            console.log('Ruta obtenida: ', data)
            let coords = data.routes[0].geometry.coordinates.map(c=> [c[1], c[0]]);
            L.polyline(coords, {color: 'blue'}).addTo(map);
            let distancia = data.routes[0].distance
            let duracion = data.routes[0].duration
            let dist = (distancia / 1000).toFixed(2)
            let dur = (duracion / 3600).toFixed(2)
            locationResult.textContent = `Usted se encuentra a ${dist} kilómetros de distancia de {{partida.local.nombre}}`
            if (dur >= 1) {
                locationResult.innerHTML += `<br>El tiempo de viaje será de ${dur} horas`
            }else {
                locationResult.innerHTML += `<br>El tiempo de viaje será de ${duracion} minutos`
            } 
        })
        .catch(error => console.error('Error al obtener la ruta:', error))
    }

</script>
{%endblock%}