{% extends 'base.html' %}
{%load static%}
{%block content%}


<div class="container">

    <div class="row">

        {%for local in locales%}

        <div class="col-md-3 mb-4 pt-3">
            <div class="marco">
                <a href="{% url 'detalle_local' local.id %}" style="text-decoration: none;">
                    <div class="card">
                        {%if local.logo %}
                            <img style="background-color: transparent;" src="{{local.logo.url}}" alt="Logo" class="card-img-top">
                        {%endif%}    
                            <div class="card-body">
                                <h5 class="card-title">{{local.nombre}}</h5>
                                <p class="card-text">{{local.ubicacion}}</p>
                                <div>
                                    {%if user.usuario.rol == 'anfitrion' or user.usuario.rol == 'admin' %}
                                        <a href="{% url 'editar_local' local.id %}" class="btn btn-primary">Editar</a>
                                        <a href="#" class="btn btn-danger" onclick="eliminar(event, '{{ local.id }}')"><i class="bi bi-trash-fill"></i>Eliminar</a>
                                    {%endif%}
                                </div>
                            </div>
                    </div>
                </a>
            </div>

        </div>
        {%endfor%}
    </div>
</div>
<div id="particles-js"></div>
{%endblock%}


{%block js%}
<script>
    function eliminar(event, id) {
        event.preventDefault()
        const url = '/locales/eliminar_local/' + id +'/'

        debugger
        const confirmacion = confirm('¿Está seguro quer desea eliminar este local?')
        if (confirmacion == true) {
            window.location.href = url
        }
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        particlesJS.load('particles-js', "{% static 'js/particles-config.json' %}", function() {
            console.log("Particles.js cargado nuevamente.");
        });
    });
</script>
{%endblock%}